* {
  margin: 0 auto;
  padding: 0 auto;
}
.menu {
  display: flex;
  
  align-items: center;
  background-color: #303d38;
  width: 100%;
}
.menu img {
  width: 100px;
  height: 85px;
}
.menu .logo {
  margin-left: 10%;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu .menu-a {
  margin-right: 10%;
  width: 60%;
  
  
}
.menu-a a {
  
  color: white;
  padding-right: 20px;
  text-decoration: none;
  font-size: 16px;

}
.menu-a a:hover {
  color: #FF6000;
}
.box-menu {
  height: 60%;
  width: 80%;
  border: 2px solid white;
 padding-top: 15px;
 padding-bottom: 15px;
  border-radius:250px 0px 250px 0px;
  text-align: center;
  
}
/*Contéudo central página */
.conteudo {
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
}
.conteudo h1 {
  color: #303d38;
  
}
.conteudo h4 {
  color: #303d38;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.conteudo iframe {
  border: 2px solid #303d38;
  border-radius: 20px;
  width: 400px;
  height: 250px;
   box-shadow: 10px 10px 5px 0px rgba(255,96,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(255,96,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(255,96,0,0.75);
}
footer {
  background-color: #303d38;
  background-image: url(Carro_baja.png);
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: right;
  
  
}
.rodape {
 width: 80%;
 display: flex;
 flex-wrap: wrap;
 padding-top: 20px;
 padding-bottom: 10px;

}
.rodape-contato {
  width: 30%; 
  
}
.rodape p {
  color: white;
  margin-bottom: 10px;
}
.rodape h4 {
  color: #FF6000;
  font-size: 18px;
  margin-bottom: 10px;
}
.rodape-contato-2 {
  width: 30%;
}
.rodape-contato-3  {
  width: 40%;
}
.rodape img {
  margin-top: 2px;
  width: 50px;
  height: 50px;
 
  
  
}
.rodape img:hover {
  transition: 0.3s;
  border: 3px solid #FF6000;
  border-radius: 50%;
  
}



